# 3. Feature Engineering

In [291]:
import pickle
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import chi2
import numpy as np

In [292]:
path_df = "Data/News_dataset.pickle"

with open(path_df, 'rb') as data:
    df = pickle.load(data)

In [293]:
df.head()

,File_Name,Category,Content,id,News_length
0,Data/bbc\business\001.txt,business,Ad sales boost Time Warner profit\n\nQuarterly...,1,2559
1,Data/bbc\business\002.txt,business,Dollar gains on Greenspan speech\n\nThe dollar...,1,2252
2,Data/bbc\business\003.txt,business,Yukos unit buyer faces loan claim\n\nThe owner...,1,1551
3,Data/bbc\business\004.txt,business,High fuel prices hit BA's profits\n\nBritish A...,1,2401
4,Data/bbc\business\005.txt,business,Pernod takeover talk lifts Domecq\n\nShares in...,1,1569

In [294]:
df.loc[1]['Content']

'Dollar gains on Greenspan speech\n\nThe dollar has hit its highest level against the euro in almost three months after the Federal Reserve head said the US trade deficit is set to stabilise.\n\nAnd Alan Greenspan highlighted the US government\'s willingness to curb spending and rising household savings as factors which may help to reduce it. In late trading in New York, the dollar reached $1.2871 against the euro, from $1.2974 on Thursday. Market concerns about the deficit has hit the greenback in recent months. On Friday, Federal Reserve chairman Mr Greenspan\'s speech in London ahead of the meeting of G7 finance ministers sent the dollar higher after it had earlier tumbled on the back of worse-than-expected US jobs data. "I think the chairman\'s taking a much more sanguine view on the current account deficit than he\'s taken for some time," said Robert Sinche, head of currency strategy at Bank of America in New York. "He\'s taking a longer-term view, laying out a set of conditions under which the current account deficit can improve this year and next."\n\nWorries about the deficit concerns about China do, however, remain. China\'s currency remains pegged to the dollar and the US currency\'s sharp falls in recent months have therefore made Chinese export prices highly competitive. But calls for a shift in Beijing\'s policy have fallen on deaf ears, despite recent comments in a major Chinese newspaper that the "time is ripe" for a loosening of the peg. The G7 meeting is thought unlikely to produce any meaningful movement in Chinese policy. In the meantime, the US Federal Reserve\'s decision on 2 February to boost interest rates by a quarter of a point - the sixth such move in as many months - has opened up a differential with European rates. The half-point window, some believe, could be enough to keep US assets looking more attractive, and could help prop up the dollar. The recent falls have partly been the result of big budget deficits, as well as the US\'s yawning current account gap, both of which need to be funded by the buying of US bonds and assets by foreign firms and governments. The White House will announce its budget on Monday, and many commentators believe the deficit will remain at close to half a trillion dollars.\n'

## 1. Text Cleaning and Preparation

Berikut adalah langkah-langkah text cleaning dan preprocessing:
1. Hapus karakter khusus '\r', '\n', '"',
2. Ubah ke bentuk lowercase
3. Hapus sejumlah simbol
4. Hapus 's, misal student's name
5. Lematisasi, mengubah ke bentuk kata dasar dengan bantuan wordnet
6. Hapus stopwords

In [295]:
df['Content_Parsed_1'] = df['Content'].str.replace("\r", " ")
df['Content_Parsed_1'] = df['Content_Parsed_1'].str.replace("\n", " ")
df['Content_Parsed_1'] = df['Content_Parsed_1'].str.replace("    ", " ")

In [296]:
df['Content_Parsed_1'] = df['Content_Parsed_1'].str.replace('"', '')

In [297]:
df['Content_Parsed_2'] = df['Content_Parsed_1'].str.lower()

In [298]:

punctuation_signs = list("?:!.,;")
df['Content_Parsed_3'] = df['Content_Parsed_2']

for punct_sign in punctuation_signs:
    df['Content_Parsed_3'] = df['Content_Parsed_3'].str.replace(punct_sign, '')

In [299]:
# Remove possessive pronouns
df['Content_Parsed_4'] = df['Content_Parsed_3'].str.replace("'s", "")

In [300]:
# Downloading punkt and wordnet from NLTK
nltk.download('punkt')
print("------------------------------------------------------------")
nltk.download('wordnet')

------------------------------------------------------------

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Bil\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Bil\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [301]:
# Saving the lemmatizer into an object
wordnet_lemmatizer = WordNetLemmatizer()

In [302]:
nrows = len(df)
lemmatized_text_list = []

for row in range(0, nrows):
    
    # Create an empty list containing lemmatized words
    lemmatized_list = []
    
    # Save the text and its words into an object
    text = df.loc[row]['Content_Parsed_4']
    text_words = text.split(" ")

    # Iterate through every word to lemmatize
    for word in text_words:
        lemmatized_list.append(wordnet_lemmatizer.lemmatize(word, pos="v"))
        
    # Join the list
    lemmatized_text = " ".join(lemmatized_list)
    
    # Append to the list containing the texts
    lemmatized_text_list.append(lemmatized_text)

In [303]:
df['Content_Parsed_5'] = lemmatized_text_list

In [304]:
# Downloading the stop words list
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Bil\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [305]:
# Loading the stop words in english
stop_words = list(stopwords.words('english'))

In [306]:
stop_words[0:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [307]:
df['Content_Parsed_6'] = df['Content_Parsed_5']

for stop_word in stop_words:

    regex_stopword = r"\b" + stop_word + r"\b"
    df['Content_Parsed_6'] = df['Content_Parsed_6'].str.replace(regex_stopword, '')

In [308]:
df.loc[5]['Content']

'Japan narrowly escapes recession\n\nJapan\'s economy teetered on the brink of a technical recession in the three months to September, figures show.\n\nRevised figures indicated growth of just 0.1% - and a similar-sized contraction in the previous quarter. On an annual basis, the data suggests annual growth of just 0.2%, suggesting a much more hesitant recovery than had previously been thought. A common technical definition of a recession is two successive quarters of negative growth.\n\nThe government was keen to play down the worrying implications of the data. "I maintain the view that Japan\'s economy remains in a minor adjustment phase in an upward climb, and we will monitor developments carefully," said economy minister Heizo Takenaka. But in the face of the strengthening yen making exports less competitive and indications of weakening economic conditions ahead, observers were less sanguine. "It\'s painting a picture of a recovery... much patchier than previously thought," said Paul Sheard, economist at Lehman Brothers in Tokyo. Improvements in the job market apparently have yet to feed through to domestic demand, with private consumption up just 0.2% in the third quarter.\n'

In [309]:
df.loc[5]['Content_Parsed_1']

"Japan narrowly escapes recession  Japan's economy teetered on the brink of a technical recession in the three months to September, figures show.  Revised figures indicated growth of just 0.1% - and a similar-sized contraction in the previous quarter. On an annual basis, the data suggests annual growth of just 0.2%, suggesting a much more hesitant recovery than had previously been thought. A common technical definition of a recession is two successive quarters of negative growth.  The government was keen to play down the worrying implications of the data. I maintain the view that Japan's economy remains in a minor adjustment phase in an upward climb, and we will monitor developments carefully, said economy minister Heizo Takenaka. But in the face of the strengthening yen making exports less competitive and indications of weakening economic conditions ahead, observers were less sanguine. It's painting a picture of a recovery... much patchier than previously thought, said Paul Sheard, economist at Lehman Brothers in Tokyo. Improvements in the job market apparently have yet to feed through to domestic demand, with private consumption up just 0.2% in the third quarter. "

In [310]:
df.loc[5]['Content_Parsed_2']

"japan narrowly escapes recession  japan's economy teetered on the brink of a technical recession in the three months to september, figures show.  revised figures indicated growth of just 0.1% - and a similar-sized contraction in the previous quarter. on an annual basis, the data suggests annual growth of just 0.2%, suggesting a much more hesitant recovery than had previously been thought. a common technical definition of a recession is two successive quarters of negative growth.  the government was keen to play down the worrying implications of the data. i maintain the view that japan's economy remains in a minor adjustment phase in an upward climb, and we will monitor developments carefully, said economy minister heizo takenaka. but in the face of the strengthening yen making exports less competitive and indications of weakening economic conditions ahead, observers were less sanguine. it's painting a picture of a recovery... much patchier than previously thought, said paul sheard, economist at lehman brothers in tokyo. improvements in the job market apparently have yet to feed through to domestic demand, with private consumption up just 0.2% in the third quarter. "

In [311]:
df.loc[5]['Content_Parsed_3']

"japan narrowly escapes recession  japan's economy teetered on the brink of a technical recession in the three months to september figures show  revised figures indicated growth of just 01% - and a similar-sized contraction in the previous quarter on an annual basis the data suggests annual growth of just 02% suggesting a much more hesitant recovery than had previously been thought a common technical definition of a recession is two successive quarters of negative growth  the government was keen to play down the worrying implications of the data i maintain the view that japan's economy remains in a minor adjustment phase in an upward climb and we will monitor developments carefully said economy minister heizo takenaka but in the face of the strengthening yen making exports less competitive and indications of weakening economic conditions ahead observers were less sanguine it's painting a picture of a recovery much patchier than previously thought said paul sheard economist at lehman brothers in tokyo improvements in the job market apparently have yet to feed through to domestic demand with private consumption up just 02% in the third quarter "

In [312]:
df.loc[5]['Content_Parsed_4']

'japan narrowly escapes recession  japan economy teetered on the brink of a technical recession in the three months to september figures show  revised figures indicated growth of just 01% - and a similar-sized contraction in the previous quarter on an annual basis the data suggests annual growth of just 02% suggesting a much more hesitant recovery than had previously been thought a common technical definition of a recession is two successive quarters of negative growth  the government was keen to play down the worrying implications of the data i maintain the view that japan economy remains in a minor adjustment phase in an upward climb and we will monitor developments carefully said economy minister heizo takenaka but in the face of the strengthening yen making exports less competitive and indications of weakening economic conditions ahead observers were less sanguine it painting a picture of a recovery much patchier than previously thought said paul sheard economist at lehman brothers in tokyo improvements in the job market apparently have yet to feed through to domestic demand with private consumption up just 02% in the third quarter '

In [313]:
df.loc[5]['Content_Parsed_5']

'japan narrowly escape recession  japan economy teeter on the brink of a technical recession in the three months to september figure show  revise figure indicate growth of just 01% - and a similar-sized contraction in the previous quarter on an annual basis the data suggest annual growth of just 02% suggest a much more hesitant recovery than have previously be think a common technical definition of a recession be two successive quarter of negative growth  the government be keen to play down the worry implications of the data i maintain the view that japan economy remain in a minor adjustment phase in an upward climb and we will monitor developments carefully say economy minister heizo takenaka but in the face of the strengthen yen make export less competitive and indications of weaken economic condition ahead observers be less sanguine it paint a picture of a recovery much patchier than previously think say paul sheard economist at lehman brothers in tokyo improvements in the job market apparently have yet to fee through to domestic demand with private consumption up just 02% in the third quarter '

In [314]:
df.loc[5]['Content_Parsed_6']

'japan narrowly escape recession  japan economy teeter   brink   technical recession   three months  september figure show  revise figure indicate growth   01% -   similar-sized contraction   previous quarter   annual basis  data suggest annual growth   02% suggest  much  hesitant recovery   previously  think  common technical definition   recession  two successive quarter  negative growth   government  keen  play   worry implications   data  maintain  view  japan economy remain   minor adjustment phase   upward climb    monitor developments carefully say economy minister heizo takenaka    face   strengthen yen make export less competitive  indications  weaken economic condition ahead observers  less sanguine  paint  picture   recovery much patchier  previously think say paul sheard economist  lehman brothers  tokyo improvements   job market apparently  yet  fee   domestic demand  private consumption   02%   third quarter '

In [315]:
df.head(1)

,File_Name,Category,Content,id,News_length,Content_Parsed_1,Content_Parsed_2,Content_Parsed_3,Content_Parsed_4,Content_Parsed_5,Content_Parsed_6
0,Data/bbc\business\001.txt,business,Ad sales boost Time Warner profit\n\nQuarterly...,1,2559,Ad sales boost Time Warner profit Quarterly p...,ad sales boost time warner profit quarterly p...,ad sales boost time warner profit quarterly p...,ad sales boost time warner profit quarterly p...,ad sales boost time warner profit quarterly p...,ad sales boost time warner profit quarterly p...

# * variable task merupakan indikator eksekusi untuk soal 2 a,b,c *

In [316]:
task = ''

if task == 'a' :
    # tanpa proses normalisasi
    list_columns = ["File_Name", "Category", "Content", "Content_Parsed_2"]
    df = df[list_columns]
    df = df.rename(columns={'Content_Parsed_2': 'Content_Parsed'})

elif task == 'b' :
    # tanpa proses lemmatisation
    df['Content_Parsed_b'] = df['Content_Parsed_4']
    #proses menghilangkan stop word
    for stop_word in stop_words:
        regex_stopword = r"\b" + stop_word + r"\b"
        df['Content_Parsed_b'] = df['Content_Parsed_b'].str.replace(regex_stopword, '')

    list_columns = ["File_Name", "Category", "Content", "Content_Parsed_b"]
    df = df[list_columns]
    df = df.rename(columns={'Content_Parsed_b': 'Content_Parsed'})

elif task == 'c' :
    # Tanpa menghilangkan stop word
    list_columns = ["File_Name", "Category", "Content", "Content_Parsed_5"]
    df = df[list_columns]
    df = df.rename(columns={'Content_Parsed_5': 'Content_Parsed'})

else :
    #melakukan proses normalisasi
    list_columns = ["File_Name", "Category", "Content", "Content_Parsed_6"]
    df = df[list_columns]
    df = df.rename(columns={'Content_Parsed_6': 'Content_Parsed'})

print(task)

In [317]:
df.head(10)

,File_Name,Category,Content,Content_Parsed
0,Data/bbc\business\001.txt,business,Ad sales boost Time Warner profit\n\nQuarterly...,ad sales boost time warner profit quarterly p...
1,Data/bbc\business\002.txt,business,Dollar gains on Greenspan speech\n\nThe dollar...,dollar gain greenspan speech dollar hit h...
2,Data/bbc\business\003.txt,business,Yukos unit buyer faces loan claim\n\nThe owner...,yukos unit buyer face loan claim owners emb...
3,Data/bbc\business\004.txt,business,High fuel prices hit BA's profits\n\nBritish A...,high fuel price hit ba profit british airways...
4,Data/bbc\business\005.txt,business,Pernod takeover talk lifts Domecq\n\nShares in...,pernod takeover talk lift domecq share uk dr...
5,Data/bbc\business\006.txt,business,Japan narrowly escapes recession\n\nJapan's ec...,japan narrowly escape recession japan economy...
6,Data/bbc\business\007.txt,business,Jobs growth still slow in the US\n\nThe US cre...,job growth still slow us us create fewer j...
7,Data/bbc\business\008.txt,business,"India calls for fair trade rules\n\nIndia, whi...",india call fair trade rule india attend g7...
8,Data/bbc\business\009.txt,business,Ethiopia's crop production up 24%\n\nEthiopia ...,ethiopia crop production 24% ethiopia produc...
9,Data/bbc\business\010.txt,business,Court rejects $280bn tobacco case\n\nA US gove...,court reject $280bn tobacco case us governme...

## 2. Label Coding

Mengubah nama kategori ke bentuk angka

In [318]:
category_codes = {
    'business': 0,
    'entertainment': 1,
    'politics': 2,
    'sport': 3,
    'tech': 4
}

In [319]:
# Category mapping
df['Category_Code'] = df['Category']
df = df.replace({'Category_Code':category_codes})

In [320]:
df.head()

,File_Name,Category,Content,Content_Parsed,Category_Code
0,Data/bbc\business\001.txt,business,Ad sales boost Time Warner profit\n\nQuarterly...,ad sales boost time warner profit quarterly p...,0
1,Data/bbc\business\002.txt,business,Dollar gains on Greenspan speech\n\nThe dollar...,dollar gain greenspan speech dollar hit h...,0
2,Data/bbc\business\003.txt,business,Yukos unit buyer faces loan claim\n\nThe owner...,yukos unit buyer face loan claim owners emb...,0
3,Data/bbc\business\004.txt,business,High fuel prices hit BA's profits\n\nBritish A...,high fuel price hit ba profit british airways...,0
4,Data/bbc\business\005.txt,business,Pernod takeover talk lifts Domecq\n\nShares in...,pernod takeover talk lift domecq share uk dr...,0

## 3. Train-Test Split

Dari total data yang ada, kita ingin pisahkan ke dalam training data dan testing data.

In [321]:
X_train, X_test, y_train, y_test = train_test_split(df['Content_Parsed'], 
                                                    df['Category_Code'], 
                                                    test_size=0.15, 
                                                    random_state=8)

In [322]:
print(len(df))
print(len(X_train))
print(len(X_test))

2225
1891
334

## 4. Text Representation

In [323]:
# Parameter election
ngram_range = (1,2)
min_df = 10
max_df = 1.
max_features = 300
task3 = max_features

In [324]:

tfidf = TfidfVectorizer(encoding='utf-8',
                        ngram_range=ngram_range,
                        stop_words=None,
                        lowercase=False,
                        max_df=max_df,
                        min_df=min_df,
                        max_features=max_features,
                        norm='l2',
                        sublinear_tf=True)
                        
features_train = tfidf.fit_transform(X_train).toarray()
labels_train = y_train
print(features_train.shape)

features_test = tfidf.transform(X_test).toarray()
labels_test = y_test
print(features_test.shape)

(1891, 300)
(334, 300)

In [325]:
from sklearn.feature_selection import chi2
import numpy as np

for Product, category_id in sorted(category_codes.items()):
    features_chi2 = chi2(features_train, labels_train == category_id)
    indices = np.argsort(features_chi2[0])
    feature_names = np.array(tfidf.get_feature_names())[indices]
    unigrams = [v for v in feature_names if len(v.split(' ')) == 1]
    bigrams = [v for v in feature_names if len(v.split(' ')) == 2]
    print("# '{}' category:".format(Product))
    print("  . Most correlated unigrams:\n. {}".format('\n. '.join(unigrams[-5:])))
    print("  . Most correlated bigrams:\n. {}".format('\n. '.join(bigrams[-2:])))
    print("")

# 'business' category:
  . Most correlated unigrams:
. market
. price
. economy
. growth
. bank
  . Most correlated bigrams:
. last year
. year old

# 'entertainment' category:
  . Most correlated unigrams:
. tv
. music
. star
. award
. film
  . Most correlated bigrams:
. mr blair
. prime minister

# 'politics' category:
  . Most correlated unigrams:
. minister
. blair
. party
. election
. labour
  . Most correlated bigrams:
. prime minister
. mr blair

# 'sport' category:
  . Most correlated unigrams:
. win
. side
. game
. team
. match
  . Most correlated bigrams:
. say mr
. year old

# 'tech' category:
  . Most correlated unigrams:
. digital
. technology
. computer
. software
. users
  . Most correlated bigrams:
. year old
. say mr

In [326]:
category_codes.items()

dict_items([('business', 0), ('entertainment', 1), ('politics', 2), ('sport', 3), ('tech', 4)])

In [327]:
bigrams

['tell bbc', 'last year', 'prime minister', 'mr blair', 'year old', 'say mr']

In [328]:
if task == 'a' :
    # X_train
    print(task)
    with open('Data/X_train_a.pickle', 'wb') as output:
        pickle.dump(X_train, output)

    # X_test    
    with open('Data/X_test_a.pickle', 'wb') as output:
        pickle.dump(X_test, output)

    # y_train
    with open('Data/y_train_a.pickle', 'wb') as output:
        pickle.dump(y_train, output)

    # y_test
    with open('Data/y_test_a.pickle', 'wb') as output:
        pickle.dump(y_test, output)

    # df
    with open('Data/df_a.pickle', 'wb') as output:
        pickle.dump(df, output)

    # features_train
    with open('Data/features_train_a.pickle', 'wb') as output:
        pickle.dump(features_train, output)

    # labels_train
    with open('Data/labels_train_a.pickle', 'wb') as output:
        pickle.dump(labels_train, output)

    # features_test
    with open('Data/features_test_a.pickle', 'wb') as output:
        pickle.dump(features_test, output)

    # labels_test
    with open('Data/labels_test_a.pickle', 'wb') as output:
        pickle.dump(labels_test, output)

    # TF-IDF object
    if task3 < 300 :
        with open('Data/tfidf_a_2.pickle', 'wb') as output:
            pickle.dump(tfidf, output)
    elif task3 > 300 :
        with open('Data/tfidf_a_4.pickle', 'wb') as output:
            pickle.dump(tfidf, output)
    else :
        with open('Data/tfidf_a_3.pickle', 'wb') as output:
            pickle.dump(tfidf, output)
    
elif task == 'b' :
    print(task)
    # X_train
    with open('Data/X_train_b.pickle', 'wb') as output:
        pickle.dump(X_train, output)

    # X_test    
    with open('Data/X_test_b.pickle', 'wb') as output:
        pickle.dump(X_test, output)

    # y_train
    with open('Data/y_train_b.pickle', 'wb') as output:
        pickle.dump(y_train, output)

    # y_test
    with open('Data/y_test_b.pickle', 'wb') as output:
        pickle.dump(y_test, output)

    # df
    with open('Data/df_b.pickle', 'wb') as output:
        pickle.dump(df, output)

    # features_train
    with open('Data/features_train_b.pickle', 'wb') as output:
        pickle.dump(features_train, output)

    # labels_train
    with open('Data/labels_train_b.pickle', 'wb') as output:
        pickle.dump(labels_train, output)

    # features_test
    with open('Data/features_test_b.pickle', 'wb') as output:
        pickle.dump(features_test, output)

    # labels_test
    with open('Data/labels_test_b.pickle', 'wb') as output:
        pickle.dump(labels_test, output)

    # TF-IDF object
    if task3 < 300 :
        with open('Data/tfidf_b_2.pickle', 'wb') as output:
            pickle.dump(tfidf, output)
    elif task3 > 300 :
        with open('Data/tfidf_b_4.pickle', 'wb') as output:
            pickle.dump(tfidf, output)
    else :
        with open('Data/tfidf_b_3.pickle', 'wb') as output:
            pickle.dump(tfidf, output)
    
elif task == 'c' :
    print(task)
    # X_train
    with open('Data/X_train_c.pickle', 'wb') as output:
        pickle.dump(X_train, output)

    # X_test    
    with open('Data/X_test_c.pickle', 'wb') as output:
        pickle.dump(X_test, output)

    # y_train
    with open('Data/y_train_c.pickle', 'wb') as output:
        pickle.dump(y_train, output)

    # y_test
    with open('Data/y_test_c.pickle', 'wb') as output:
        pickle.dump(y_test, output)

    # df
    with open('Data/df_c.pickle', 'wb') as output:
        pickle.dump(df, output)

    # features_train
    with open('Data/features_train_c.pickle', 'wb') as output:
        pickle.dump(features_train, output)

    # labels_train
    with open('Data/labels_train_c.pickle', 'wb') as output:
        pickle.dump(labels_train, output)

    # features_test
    with open('Data/features_test_c.pickle', 'wb') as output:
        pickle.dump(features_test, output)

    # labels_test
    with open('Data/labels_test_c.pickle', 'wb') as output:
        pickle.dump(labels_test, output)

# TF-IDF object
    if task3 < 300 :
        with open('Data/tfidf_c_2.pickle', 'wb') as output:
            pickle.dump(tfidf, output)
    elif task3 > 300 :
        with open('Data/tfidf_c_4.pickle', 'wb') as output:
            pickle.dump(tfidf, output)
    else :
        with open('Data/tfidf_c_3.pickle', 'wb') as output:
            pickle.dump(tfidf, output)
    
else :
    # X_train
    with open('Data/X_train.pickle', 'wb') as output:
        pickle.dump(X_train, output)

    # X_test    
    with open('Data/X_test.pickle', 'wb') as output:
        pickle.dump(X_test, output)

    # y_train
    with open('Data/y_train.pickle', 'wb') as output:
        pickle.dump(y_train, output)

    # y_test
    with open('Data/y_test.pickle', 'wb') as output:
        pickle.dump(y_test, output)

    # df
    with open('Data/df.pickle', 'wb') as output:
        pickle.dump(df, output)

    # features_train
    with open('Data/features_train.pickle', 'wb') as output:
        pickle.dump(features_train, output)

    # labels_train
    with open('Data/labels_train.pickle', 'wb') as output:
        pickle.dump(labels_train, output)

    # features_test
    with open('Data/features_test.pickle', 'wb') as output:
        pickle.dump(features_test, output)

    # labels_test
    with open('Data/labels_test.pickle', 'wb') as output:
        pickle.dump(labels_test, output)

# TF-IDF object
    if task3 < 300 :
        with open('Data/tfidf_2.pickle', 'wb') as output:
            pickle.dump(tfidf, output)
    elif task3 > 300 :
        with open('Data/tfidf_4.pickle', 'wb') as output:
            pickle.dump(tfidf, output)
    else :
        with open('Data/tfidf_3.pickle', 'wb') as output:
            pickle.dump(tfidf, output)
    
print(task3)

300

NOTE : nama file tfidf diatas menunjukan nilai tfidf yang digunakan. misalkan tfidf_2 = tfidf dgn nilai max_feature < 300. tfidf_4 = tfidf dengan nilai max_featur > 300